<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDUSTRIAS WAYNE</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <main>
        <section class="login">
            <h1 style="color: white;">INDUSTRIAS WAYNE</h1>
            <form class="login_container">
                <input type="text" id="userName" placeholder="Usuário">
                <input type="password" id="userSenha" placeholder="Senha">
                <button id="loginBotao">Acessar</button>
            </form>
            <div id="erroMensagem"></div>
        </section>
    </main>
    <script type="module" src="../scripts/script.js"></script>
    <script src="../base/loadFooter.js"></script>
</body>
</html>