<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header class="header_lista_produtos">
        <h1 class="lista_produtos_titulo" style="color: white;">PRODUTOS LISTADOS</h1>
        <p id="quantidade_na_lista" style="color: white;"></p>
    </header>
    <section id="container" class="container"></section>
    <script src="../scripts/lista_produtos.js"></script>
</body>
</html>